{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
</head>
<body>
    <div class="container">
        <div class="restaurant">
            <img src="{% static '/img/logo1.png' %}"/>
            <h3>Restaurant Reservation</h3>
        </div>
        <form action="#" method="post">
            {% csrf_token %}
            <div class="title">Change a password</div>
            <ul class="list">
                <li class="item">
                    <p>New password</p>
                    <input type="password" name='password'>
                    <p>Confirm new password</p>
                    <input type="password" name='re_password'>
                </li>
                <input type="hidden" value="{{user_id}}" name='user_id'>
                <input id="submit" type="submit" value="Confirm">
            </ul>
        </form>
    </div>
</body>
</html>