html{
    box-sizing: border-box;
}

body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f3f3;
}

ul{
    list-style: none;
    padding: 0;
}

a{
    text-decoration: none;
}

p{
    margin: 0;
}

.container {
    background-color: #ec8282;
    display: flex;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
    flex-direction: column;
}

.container img {
    width: 80px;
    margin-right: 10px;
}

.container .status{
    padding: 10px 15px;
    display: flex;
    background: white;
    border-radius: 5px;
    color: green;
    align-items: center;
}

.container .status h3{
    margin: 0;
}

.container .restaurant {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 30px;
}

.container .restaurant h3{
    color: #1e5c1e;
}

.container .restaurant img{
    width: 70px;
    margin-right: 10px;
}

.container form {
    width: 300px;
    padding: 30px 30px 15px 30px;
    background: white;
}

.container .title {
    display: block;
    text-align: center;
    font-size: 25px;
    color: black;
    font-weight: 600;
}

.container ul {
    width: 100%;
}

.container ul li {
    width: 100%;
    display: block;
}

.container .list .item p{
    font-size: 18px;
    color: black;
    padding: 5px 0 8px;
    text-align: left;
}

.container .list .item input {
    display: block;
    width: calc(100% - 10px);
    padding: 5px;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 2px;
    height: 26px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    background-color: white;
}

#submit {
    width: 100%;
    border: none;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    color: white;
    background: #eb5757;
    border-radius: 5px;
}

.container .list a{
    font-size: 16px;
    color: rgb(228, 250, 85);
    display: block;
    padding: 10px 0 0 0;
}

.item-tk{
    display: flex;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.item-tk .content-icon{
    margin-right: 10px;
    color: white;
}

.item-tk .content-item p{
    font-weight: 600;
    font-size: 20px;
    color: white;
}

.item-tk .content-item p.title{
    font-size: 16px;
    text-align: left;
}

.item-tk.num-invoice{
    background: #d55e5e;
}

.item-tk.num-client{
    background: #4ab84a;
}

.item-tk.num-restaurant{
    background: #5cd8d8;
}

.item-tk.num-message{
    background: #f0b570;
}

#mayChart, #myChart2{
    width: 100% !important;
    height: 100% !important;
}

#myChart2{
    display: block;
    max-width: 400px;
    margin: 0 auto;
}

.content-chart{
    padding: 25px 20px;
}

.content-chart h3{
    padding: 0;
}

h3{
    text-align: center;
    font-size: 20px;
    padding: 20px 10px;
}